nav.navbar.navbar-inverse(role='navigation')
	ul.nav.navbar-nav.navbar-header
		li
			a(src='/home', class='navbar-brand') Home
		li
			a(src='/about') About
		li
			a(src='/login') Login
		li
			a(src='/register') Register