nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
	div.navbar-header
		a(src='/home', class='navbar-brand') Home
	div
		ul.nav.navbar-nav
			li
				a(src='/about') About
			li
				a(src='/login') Login
			li
				a(src='/register') Register