nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
	div.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='#example-navbar-collapse')
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.active(src='/home', class='navbar-brand') Home
	div
		div.collapse.navbar-collapse#example-navbar-collapse
			ul.nav.navbar-nav
				li
					a(src='/blog') Blog
				li
					a(src='/about') About
				li
					a(src='/login') Login
				li
					a(src='/register') Register